body {
  background-color: #d3d3d3;
  margin: 0;
}

header {
  width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  border: 1px solid lightgray;
}

.header-div {
  display: flex;
  justify-content: space-between;
  width: 423px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid lightgray;
}

.intro-body {
  width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.dropdown-logo {
  width: 40px;
  height: 40px;
  top: 4px;
  left: 311px;
  padding: 8px 0 0 0;
  border-radius: 8px 0 0 0;
  display: inline-block;
  margin-right: 25px;
}

.logo {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width: 76px;
  height: 20px;
  color: #6070ff;
  display: inline-block;
  padding-left: 6px;
  margin-left: 14px;
}

.body1 {
  width: 375px;
  height: 554px;
  top: 92px;
  padding: 114px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  background-image: url("img/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-color: white;
}

.intro-para {
  width: 327px;
  height: 150px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
  margin: 0;
}

.description {
  width: 327px;
  height: 146px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin: 10px 0;
  margin-top: 25px;
}

.contact {
  width: 130px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 170.17px;
  height: 20px;
  margin-left: -40px;
  margin-top: 10px;
}

.logo:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dropdown-logo:hover {
  cursor: pointer;
}

.contact:hover {
  text-decoration: underline;
  cursor: pointer;
}

.social-icons:hover {
  cursor: pointer;
}

.contact-message {
  color: blue;
}

.contact-message:hover {
  text-decoration: underline;
  cursor: pointer;
}
